<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FFVA</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-social@2/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <section class="hero is-primary is-fullheight">
        <div class="hero-head">
            <nav class="container">
                <div id="navbarMenuHeroA" class="navbar-menu">
                    <div class="navbar-end">
                        {% if authorized %}
                          {% if perm_level % 2 == 0 %}
                            <a href="#" class="navbar-item">
                                Streams
                            </a>
                            {% if perm_level == 4 %}
                              <a href="{{ url_for('admin.index') }}" class="navbar-item">
                                  Admin
                              </a>
                            {% endif %}
                          {% endif %}
                          <a href="{{ url_for('auth.logout') }}" class="navbar-item">
                              Logout
                          </a>
                          <a href="#" class="navbar-item">
                              <img src={{ user.avatar_url }} />
                          </a>
                        {% else %}
                        <span class="navbar-item">
                          <a href="{{ url_for('auth.login') }}" class="button is-discord">
                            <span class="icon">
                              <i class="fab fa-discord"></i>
                            </span>
                            <span>Login</span>
                          </a>
                        </span>
                        {% endif %}
                    </div>
                </div>
            </nav>
        </div>

        <div class="hero-body">
            <div class="container has-text-centered">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </section>
</body>

</html>
